<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjun.cto.framework.sm.pay.mapper.PayChannelMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		t.id as id,  
		t.time as time,  
		t.lastupdate as lastupdate,  
		t.status as status,  
		t.is_del as isDel,  
		t.channel_id as channelId,  
		t.channel_items_id as channelItemsId,  
		t.mch_id as mchId,  
		t.param as param,  
		t.remark as remark 
    </sql>
 
	<select id="getByPage" parameterType="com.longjun.cto.framework.sm.pay.entity.dto.PayChannelDto" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayChannelView">
		SELECT 
		  t.id AS id,
		  t.time AS TIME,
		  t.lastupdate AS lastupdate,
		  t.status AS STATUS,
		  t.is_del AS isDel,
		  t.channel_id AS channelId,
		  t.channel_items_id AS channelItemsId,
		  t.mch_id AS mchId,
		  t.param AS param,
		  t.remark AS remark ,
		  mi.`mch_name` AS mchName,
		  mi.`req_key` AS reqKey,
		  mi.`res_key` AS resKey,
		  mi.`status` AS miStatus,
		  cid.`channel_id` AS channelId,
		  cid.`channel_items_name` AS channelItemsName,
		  cid.`mark` AS cidMark,
		  cd.`channel_name` AS channelName,
		  cd.`status` AS cdStatus
		FROM
		  t_pay_channel AS t 
		  LEFT JOIN `t_pay_mch_info` AS mi 
		  ON t.`mch_id` = mi.`mch_id` 
		  LEFT JOIN `t_pay_channel_item_dict` AS cid 
		  ON t.`channel_items_id` = cid.`id` 
		  LEFT JOIN  `t_pay_channel_dict` AS cd 
		  ON cid.`channel_id` = cd.`id`
		WHERE 1 = 1 
		<if test="c_status != -10001">
		 	and t.status = #{c_status}
		</if>
		<if test="c_channelId != null and c_channelId != ''">
		 	and cid.`channel_id` = #{c_channelId}
		</if>
		<if test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
		 	and t.time <![CDATA[>=]]> #{c_startTime}  and t.time <![CDATA[<=]]> #{c_endTime}
		</if>
	</select>
	
	<select id="findViewById" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayChannelView">
		SELECT 
		  t.id AS id,
		  t.time AS TIME,
		  t.lastupdate AS lastupdate,
		  t.status AS STATUS,
		  t.is_del AS isDel,
		  t.channel_id AS channelId,
		  t.channel_items_id AS channelItemsId,
		  t.mch_id AS mchId,
		  t.param AS param,
		  t.remark AS remark ,
		  mi.`mch_name` AS mchName,
		  mi.`req_key` AS reqKey,
		  mi.`res_key` AS resKey,
		  mi.`status` AS miStatus,
		  cid.`channel_id` AS channelId,
		  cid.`channel_items_name` AS channelItemsName,
		  cid.`mark` AS cidMark,
		  cd.`channel_name` AS channelName,
		  cd.`status` AS cdStatus
		FROM
		  t_pay_channel AS t 
		  LEFT JOIN `t_pay_mch_info` AS mi 
		  ON t.`mch_id` = mi.`mch_id` 
		  LEFT JOIN `t_pay_channel_item_dict` AS cid 
		  ON t.`channel_items_id` = cid.`id` 
		  LEFT JOIN  `t_pay_channel_dict` AS cd 
		  ON cid.`channel_id` = cd.`id`
		WHERE 1 = 1 
		and t.id = #{id}
	</select>
	
	<select id="listModelMap" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayChannelView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_channel AS t
		WHERE 1=1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
		limit 0,#{c_limit}
	</select>
	
	<select id="countMap" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayChannelView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_channel AS t
		WHERE 1=1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
	</select>
	 
</mapper>