<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjun.cto.framework.sm.pay.mapper.PayMchInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		t.id as id,  
		t.time as time,  
		t.lastupdate as lastupdate,  
		t.status as status,  
		t.is_del as isDel,  
		t.mch_id as mchId,  
		t.mch_name as mchName,  
		t.mch_type as mchType,  
		t.req_key as reqKey,  
		t.res_key as resKey 
    </sql>
 
	<select id="getByPage" parameterType="com.longjun.cto.framework.sm.pay.entity.dto.PayMchInfoDto" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayMchInfoView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_mch_info AS t
		WHERE 1 = 1 
		<if test="c_status != -10001">
		 	and t.status = #{c_status}
		</if>
		<if test="c_mchId != null and c_mchId != ''">
		 	and t.mch_id like concat('%', #{c_mchId} , '%')
		</if>
		<if test="c_mchName != null and c_mchName != ''">
		 	and t.mch_name like concat('%', #{c_mchName} , '%')
		</if>
		<if test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
		 	and t.time <![CDATA[>=]]> #{c_startTime}  and t.time <![CDATA[<=]]> #{c_endTime}
		</if>
	</select>
	
	<select id="findViewById" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayMchInfoView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_mch_info AS t
		WHERE 1=1 and t.id = #{id}
	</select>
	
	<select id="listModelMap" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayMchInfoView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_mch_info AS t
		WHERE 1=1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
		limit 0,#{c_limit}
	</select>
	
	<select id="countMap" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayMchInfoView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_mch_info AS t
		WHERE 1=1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
	</select>
	 
</mapper>