<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjun.cto.framework.sm.pay.mapper.PayRefundOrderMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		t.id as id,  
		t.time as time,  
		t.lastupdate as lastupdate,  
		t.refund_order_id as refundOrderId,  
		t.pay_order_id as payOrderId,  
		t.mch_id as mchId,  
		t.mch_refund_no as mchRefundNo,  
		t.pay_amount as payAmount,  
		t.refund_amount as refundAmount,  
		t.currency as currency,  
		t.status as status,  
		t.result as result,  
		t.client_ip as clientIp,  
		t.device as device,  
		t.remark_info as remarkInfo,  
		t.channel_user as channelUser,  
		t.user_name as userName,  
		t.channel_items_id as channelItemsId,  
		t.channel_id as channelId,  
		t.channel_err_code as channelErrCode,  
		t.channel_err_msg as channelErrMsg,  
		t.extra as extra,  
		t.notify_url as notifyUrl,  
		t.param1 as param1,  
		t.param2 as param2,  
		t.expire_time as expireTime,  
		t.refund_succ_time as refundSuccTime,  
		t.buz_notify as buzNotify,  
		t.buz_resp as buzResp,  
		t.is_del as isDel 
    </sql>
 
	<select id="getByPage" parameterType="com.longjun.cto.framework.sm.pay.entity.dto.PayRefundOrderDto" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayRefundOrderView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_refund_order AS t
		WHERE 1 = 1 
		<if test="c_status != -10001">
		 	and t.status = #{c_status}
		</if>
		<if test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
		 	and t.time <![CDATA[>=]]> #{c_startTime}  and t.time <![CDATA[<=]]> #{c_endTime}
		</if>
	</select>
	
	<select id="findViewById" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayRefundOrderView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_refund_order AS t
		WHERE 1=1 and t.id = #{id}
	</select>
	
	<select id="listModelMap" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.pay.entity.view.PayRefundOrderView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_pay_refund_order AS t
		WHERE 1=1 
		<if test="c_status != null">
		 	and t.status =#{c_status}
		</if>
		<if test="c_limit != null">
		 	limit 0,#{c_limit}
		</if>
	</select>
	
	<select id="countMap" parameterType="java.lang.Object" 
		resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM t_pay_refund_order AS t
		WHERE 1=1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
	</select>
	
	<update id="del" parameterType="java.lang.Long">
		 update t_pay_refund_order set is_del = 1
		 where id = #{id}
	</update>
	 
</mapper>