<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjun.cto.framework.sm.sys.mapper.AdminOtherMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		t.id as id,  
		t.admin_id as adminId,  
		t.domain_name as domainName,  
		t.function_name as functionName,  
		t.start_time as startTime,  
		t.end_time as endTime,  
		t.time as time,  
		t.lastupdate as lastupdate,  
		t.status as status,  
		t.is_del as isDel 
    </sql>
 
	<select id="getByPage" parameterType="com.longjun.cto.framework.sm.sys.entity.dto.AdminOtherDto" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.AdminOtherView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_admin_other AS t
		WHERE 1 = 1 
		<if test="c_status != -10001">
		 	and t.status = #{c_status}
		</if>
		<if test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
		 	and t.time <![CDATA[>=]]> #{c_startTime}  and t.time <![CDATA[<=]]> #{c_endTime}
		</if>
	</select>
	
	<select id="getByAdminPage" parameterType="com.longjun.cto.framework.sm.sys.entity.dto.AdminOtherDto" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.AdminOtherView">
		SELECT
			t3.admin_id as adminId,
			t.domain_name as domainName,
		  t2.real_name as realName,
		  t2.`status` as businessStatus,
		  t3.professional_name as  professionalName
		FROM
			t_admin_other AS t
		RIGHT  JOIN t_admin_relevant t3 ON t.admin_id = t3.id
		LEFT  JOIN t_admin t2 ON t3.admin_id = t2.id
		WHERE
			t2.type = 0 AND t3.types = 6
	    <if test="realName != null and realName !=''">
			and t2.real_name like concat('%',#{realName},'%')
		</if>
		<if test="domainName != null and domainName !=''">
			and t.domain_name like concat('%',#{domainName},'%')
		</if>
		<if test="businessStatus != null and businessStatus !=''">
			and t3.`status` = #{businessStatus}
		</if>
		<if test="ids != null and ids.length > 0">
			 and t3.admin_id in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				 	#{id}
			</foreach>
		</if>
	</select>
	
	<select id="findViewById" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.AdminOtherView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_admin_other AS t
		WHERE 1=1 and t.id = #{id}
	</select>
	
	<select id="listModelMap" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.AdminOtherView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_admin_other AS t
		WHERE 1=1 
		<if test="c_status != null">
		 	and t.status =#{c_status}
		</if>
		<if test="c_limit != null">
		 	limit 0,#{c_limit}
		</if>
	</select>
	
	<select id="countMap" parameterType="java.lang.Object" 
		resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM t_admin_other AS t
		WHERE 1=1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
	</select>
	
	<update id="del" parameterType="java.lang.Long">
		 update t_admin_other set is_del = 1
		 where id = #{id}
	</update>
	 
</mapper>