<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjun.cto.framework.sm.sys.mapper.AuthRoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		t.id as id,  
		t.time as time,  
		t.use_id as useId,  
		t.rolename as rolename,  
		t.parent_id as parentId,  
		t.role_desc as roleDesc,  
		t.lastupdate as lastupdate,  
		t.status as status,  
		t.is_del as isDel 
    </sql>
 
	<select id="getByPage" parameterType="com.longjun.cto.framework.sm.sys.entity.dto.AuthRoleDto" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.AuthRoleView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_auth_role AS t
		WHERE 1 = 1 
		AND t.is_del = 0
		<if test="c_status != -10001">
		 	and t.status = #{c_status}
		</if>
		<if test="c_rolename != null and c_rolename != ''">
		 	and t.rolename like concat('%', #{c_rolename} , '%')
		</if>
		<if test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
		 	and t.time <![CDATA[>=]]> #{c_startTime}  and t.time <![CDATA[<=]]> #{c_endTime}
		</if>
	</select>
	
	<select id="findViewById" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.AuthRoleView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_auth_role AS t
		WHERE 1=1 and t.id = #{id}
	</select>
	
	<select id="listModelMap" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.AuthRoleView">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_auth_role AS t
		WHERE 1=1 
		<if test="c_status != null">
		 	and t.status =#{c_status}
		</if>
		<if test="c_limit != null">
			limit 0,#{c_limit}
		</if>
	</select>
	
	<select id="countMap" parameterType="java.lang.Object" 
		resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM t_auth_role AS t
		WHERE 1=1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
	</select>
	
	<update id="del" parameterType="java.lang.Long">
		 update t_auth_role set is_del = 1
		 where id = #{id}
	</update>
	 
</mapper>