<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjun.cto.framework.sm.sys.mapper.CommonTdkMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.longjun.cto.framework.sm.sys.entity.view.CommonTdkView">
		<id column="id" property="id" />
		<result column="time" property="time" />
		<result column="lastupdate" property="lastupdate" />
		<result column="status" property="status" />
		<result column="title" property="title" />
		<result column="keyword" property="keyword" />
		<result column="uri" property="uri" />
		<result column="description" property="description" />
		<result column="helptis" property="helptis" />
		<result column="crumbs" property="crumbs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		id,  
		time,  
		lastupdate,  
		status,  
		title,  
		keyword,  
		uri,  
		description,  
		helptis,  
		crumbs 
    </sql>
 
	<select id="getByPage" parameterType="com.longjun.cto.framework.sm.sys.entity.dto.CommonTdkDto" 
		resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM t_common_tdk AS t
		WHERE 1 = 1 
		<if test="c_status != -10001">
		 	and t.status =#{c_status}
		</if>
		 
		<if test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
		 	and t.time <![CDATA[>]]> #{c_startTime}  and t.time <![CDATA[<=]]> #{c_endTime}
		</if>
		
	</select>
	 
</mapper>