<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjun.cto.framework.sm.sys.mapper.LogUserMapper">
 
 	<insert id="saveModel" parameterType="com.longjun.cto.framework.sm.sys.entity.model.LogUserModel"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `t_log_user` ( `operater_id`, `operater_name`,  
		 `ip`, `event_use_id`, `module_name`, `event_contet`, `status`) VALUES 
		 ( #{operaterId}, #{operaterName}, 
		  #{ip}, #{eventUseId}, #{moduleName}, #{eventContet}, #{status})
	</insert>
 
	<select id="getById" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.LogUserView">
		SELECT
			t.`id` , 
			t.`time`,
			t.`operater_id` as operaterId, 
			t.`operater_name` as operaterName,
			t.`ip`,
			t.`event_use_id` as eventUseId,
			t.`module_name` as moduleName, 
			t.`event_contet` as eventContet,
			t.`status`
		FROM
			t_log_user AS t
			where 1 = 1
			and t.id = #{id}
	</select>
	
	<select id="getByPage" parameterType="java.lang.Object" 
		resultType="com.longjun.cto.framework.sm.sys.entity.view.LogUserView">
		SELECT
			t.`id` , 
			t.`time`,
			t.`operater_id` as operaterId, 
			t.`operater_name` as operaterName,
			t.`ip`,
			t.`event_use_id` as eventUseId,
			t.`module_name` as moduleName, 
			t.`event_contet` as eventContet,
			t.`status`
		FROM
			t_log_user AS t
			where 1 = 1
			<if test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
		 	and t.time <![CDATA[>]]> #{c_startTime} and t.time <![CDATA[<=]]> #{c_endTime}
			</if>
			<if test="c_operaterName != null and c_operaterName != ''">
				and t.operater_name like concat('%',#{c_operaterName},'%')
			</if>
			<if test="c_eventUseId != 0">
				and t.event_use_id = #{c_eventUseId}
			</if>
			<if test="c_eventContet != null and c_eventContet != ''">
				and t.event_contet like concat('%',#{c_eventContet},'%')
			</if>
	</select>
	 
</mapper>