<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.longjun.cto.framework.sm.cms.mapper.CmsFeedMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		t.id as id,
		t.time as time,
		t.lastupdate as lastupdate,
		t.status as status,
		t.is_del as isDel,
		t.links as links,
		t.link_type as linkType,
		t.user_id as userId,
		t.link_name as linkName,
		t.feed_content as feedContent,
		t.feed_title as feedTitle,
		t.feed_type as feedType,
		t.feed_no as feedNo
	</sql>

	<select id="getByPage"
		parameterType="com.longjun.cto.framework.sm.cms.entity.dto.CmsFeedDto"
		resultType="com.longjun.cto.framework.sm.cms.entity.view.CmsFeedView">
		SELECT
		t.id AS id,
		t.time AS time,
		t.lastupdate AS lastupdate,
		t.STATUS AS STATUS,
		t.is_del AS isDel,
		t.links AS links,
		t.link_type AS linkType,
		t.user_id AS userId,
		t.link_name AS linkName,
		t.feed_content AS feedContent,
		t.feed_title AS feedTitle,
		t.feed_type AS feedType,
		t.feed_no AS feedNo,
		fa.ack_time AS ackTime,
		fa.ack_content AS ackContent
		FROM
		t_cms_feed AS t
		LEFT JOIN t_cms_feed_ack AS fa ON t.feed_no = fa.feed_no
		WHERE 1 = 1 and
		t.is_del = 0
		<if test="c_status != -10001">
			and t.status = #{c_status}
		</if>
		<if test="c_links != null and c_links !=''">
			and t.links like concat('%', #{c_links} , '%')
		</if>
		<if test="c_linkName != null and c_linkName !=''">
			and t.link_name like concat('%', #{c_linkName} , '%')
		</if>
		<if
			test="c_startTime != null and c_endTime != null
		 	and c_startTime != '' and c_endTime != '' ">
			and t.time <![CDATA[>=]]>
			#{c_startTime} and t.time <![CDATA[<=]]>
			#{c_endTime}
		</if>
		order by t.id desc
	</select>

	<select id="findViewById" parameterType="java.lang.Object"
		resultType="com.longjun.cto.framework.sm.cms.entity.view.CmsFeedView">
		SELECT
		t.id AS id,
		t.time AS time,
		t.lastupdate AS lastupdate,
		t.STATUS AS STATUS,
		t.is_del AS isDel,
		t.links AS links,
		t.link_type AS linkType,
		t.user_id AS userId,
		t.link_name AS linkName,
		t.feed_content AS feedContent,
		t.feed_title AS feedTitle,
		t.feed_type AS feedType,
		t.feed_no AS feedNo,
		fa.ack_time AS ackTime,
		fa.ack_content AS ackContent
		FROM
		t_cms_feed AS t
		LEFT JOIN t_cms_feed_ack AS fa ON t.feed_no = fa.feed_no
		WHERE 1 = 1 and
		t.is_del = 0 and t.id = #{id}
	</select>

	<select id="listModelMap" parameterType="java.lang.Object"
		resultType="com.longjun.cto.framework.sm.cms.entity.view.CmsFeedView">
		SELECT
		t.id AS id,
		t.time AS time,
		t.lastupdate AS lastupdate,
		t.STATUS AS STATUS,
		t.is_del AS isDel,
		t.links AS links,
		t.link_type AS linkType,
		t.user_id AS userId,
		t.link_name AS linkName,
		t.feed_content AS feedContent,
		t.feed_title AS feedTitle,
		t.feed_type AS feedType,
		t.feed_no AS feedNo,
		fa.ack_time AS ackTime,
		fa.ack_content AS ackContent
		FROM
		t_cms_feed AS t
		LEFT JOIN t_cms_feed_ack AS fa ON t.feed_no = fa.feed_no
		WHERE 1 = 1 and
		t.is_del = 0
		<if test="c_status != null">
			and t.status =#{c_status}
		</if>
		<if test="c_limit != null">
			limit 0,#{c_limit}
		</if>
	</select>

	<select id="countMap" parameterType="java.lang.Object"
		resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM t_cms_feed AS t
		WHERE 1=1
		<if test="c_status != -10001">
			and t.status =#{c_status}
		</if>
	</select>

	<update id="del" parameterType="java.lang.Long">
		update t_cms_feed set is_del = 1
		where id = #{id}
	</update>

</mapper>